h1 {
    color: rebeccapurple;
    font-family: "Big Shoulders Inline", sans-serif;
    margin-top: 80px;
}

h3 {
    color: rebeccapurple;
    font-family: "Big Shoulders Inline", sans-serif;
}

body {
    margin: 0% 10% 10% 10%;
    font-family: Arial, sans-serif;
}

.box {
    padding: 20px;
    border: 1px solid rebeccapurple;
    margin: 5px;
}

.nav-items {
    display: flex;
    justify-content: center;
    font-size: 135%;
    gap: 25px;
    font-weight: 700;
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 600;
    padding: 10px 0;
}

.head {
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 600;
}

.nav-items li {
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    color: inherit;
}

.nav1 {
    color: rgb(255, 225, 0);
}

.nav2 {
    color: rgb(43, 255, 0);
}

.nav3 {
    color: rgb(0, 255, 217);
}

.nav4 {
    color: rgb(208, 0, 255);
}

.cvpng img {
    display: flex;
    align-items: center;
    max-width: 80%;
    height: auto;
}

.rubrique_contact {

    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.AdTelMail,
.mecontacter {
    border: 2px solid rebeccapurple;
    border-radius: 5%;
    width: 40%;
    padding: 2%;
}

.moi {
    font-size: 65%;
}

textarea,
input {
    width: 96%;
}



/* ============================= DARK MOD ============================= */

#GoToDarkMode {
    position: fixed;
    top: 7%;
    right: 20px;
    background: white;
    color: black;
    border: 3px solid rebeccapurple;
    padding: 8px 12px;
    cursor: url('images/favicon.ico'), auto;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

/* ============================= BACKGROUND ============================= */


